<h1>Suas notas:</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título:</th>
            <th scope="col">Ações:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">01</th>
            <td class="title-column"><a href="#">Minha tarefa</a></td>
            <td class="actions-column">
                <a href="#" class="btn btn-primary">Editar</a>
                <form action="notes/delete" method="post">
                    <input type="hidden" name="id" value="01">
                    <input type="submit" value="Remover" class="btn btn-danger">
                </form>
            </td>
        </tr>
    </tbody>
</table>